* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; 
  font-family: sans-serif;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 250px;
  background-color: #dfdadae6;
  width: 100%;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo img {
  height: 60px;
  margin-right: 20px;
}
.navbar-right{
  text-align: center;
  display: flex;
  color: #333;
  font-weight: 500;
  font-size: 14px;
}
.story{
  padding-right:20px;
}
.product{
  padding-right:20px;
}
.journal{
  padding-right: 20px;
}
.background-1 {
  background-image: url(images/billboard.jpg);
  background-size: cover;
  height: 100vh;
  position: relative;
}
.bottom-navbar {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
   background-color: #cecccce6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.bottom-bar {
  font-size: 16px;
  color: #333;
}
button{
  background-color: #00aaff;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 2px;
  font-weight: bold;
}
/* //////// */
.container-1{
  margin: 0px 40px 0px 40px;
  padding:20px 10px;
  background-color: #f3f0f0;
}
.background-2 {
text-align: center;
 color:#8a8484;
}
.background-2 h2  {
  font-size: 29px;
  margin-bottom: 20px;
 color:#858181;
}
.line-image {
  width: 70%;

}
.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 100%;
  column-gap: 60px;
}

.grid-box {
  text-align: center;
}

.grid-box img {   
  height: 55px;
}

.grid-box h4 {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #444;
}
.grid-box p {
  font-size: 14px;
  color: #666;
}
.images-here {
  display: flex;
  gap: 0;
}
.images-here img {
width:100%;          
height: 400px;       
}
.testimonials {
  padding: 0px ;
   background-color:#fbfbfb;
   margin: 0px 40px;
} 
.testimonials h2 {
font-size: 28px;
  font-weight: bold;
  padding: 50px 0px 50px 20px;
  text-transform: uppercase;
  text-align: center;
  color: #858181;
}
.testimonial-container {
  display: flex;
  justify-content: center;
  align-items: center;
padding:10px 0px 50px 0px;
margin: 0px 150px;
}
.testimonial-box {
  padding: 10px;
  width: 300px;
  border-radius: 10px;
  text-align: center;
  color: #eee;
}
.testimonial-box img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 auto 15px;
  display: block;
}
.testimonial-box h3 {
  font-size: 16px;
  color: #4e4a4a;
  margin: 10px 0;
}
.testimonial-box h3 span {
  font-size: 14px;
  color: #888;
  font-weight: normal;
}
.testimonial-box p {
  font-size: 14px;
  color: #555;
  line-height: 1.5;
}
.brands{
  background-color: #f3f2f2; 
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 150px 20px 150px;
  gap: 70px;
}
.brand{
  text-align: center;
  font-weight: bold;
  color: #ccc;
  font-size: 18px;
}
.brand p {
  font-size: 12px;
  font-weight: normal;
  color: #bbb;
}
.nav-small{
  width: 80%;
   background-color: #8380803d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  flex-wrap: wrap;
  margin: 0px 80px;
  margin-bottom: 50px !important;
}
.footer-container {
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 0px 20px;
  margin: 0px ;
}

.container{
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin: 0px 80px;
}

.last-stage {
width: 50%;
margin-left:120px;
}

.last-stage h4 {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #fff;
}

.last-stage ul {
  list-style: none;
  padding: 0;
}

.last-stage ul li {
  margin-bottom: 5px;
  color: #ccc;
  font-size: 14px;
}

.footer-bottom {
  padding: 20px 0px;
  color: #ccc;
  font-size: 14px;
  border-top: 1px solid #555;
  width: 100%;
  text-align: center;
}